.servicios,.nosotros{
	background-color: #FF9A1EFF;
}

.titulos>div>p{
	color: #040404FF
}

.barra{
	color:#9D5214FF!important;
}
a:hover{
	color:#FF9A1EFF
}


.img-size{

	width: 300px;
	height: 217px;

}